# Local Docker Compose Postgres
DATABASE_URL="postgresql://donypay:donypay@localhost:5432/donypay?schema=public"

# Supabase (production / remote)
# DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.rqjaktnwmqzkwldywyjx.supabase.co:5432/postgres?schema=public"
SUPABASE_URL="https://rqjaktnwmqzkwldywyjx.supabase.co"
SUPABASE_ANON_KEY="your-anon-or-publishable-key"

PORT=3000
NODE_ENV=development

# Stockage local des pièces KYC
KYC_UPLOAD_DIR="./uploads/kyc"
